.blog-section {
    width: 92%;
    margin: 2rem auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.blog {
    width: 100%;
    height: 21.88rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.5rem;
    color: #000;
    position: relative;
}

.headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.88rem;
    line-height: 1.56rem;
}


.blog-msg {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.99rem;
    line-height: 1.50rem;
}

.button {
    margin: 0.80rem 0 1.1rem 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.06rem;
    border: none;
    background: none;
    text-decoration: underline;
    padding-bottom: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.line1 {
    display: block;
    float: right;
    padding-top: 0.9rem;
    padding-left: 0.5rem;
}

.date-number {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.84rem;
}

.date-month {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.90rem;
    line-height: 0.93rem;
    text-transform: uppercase;
}

.date-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.98rem;
    height: 4.98rem;
    background: rgba(255, 255, 255, 0.83);
    position: absolute;
    left: 1.40rem;
    top: 1.40rem;
}

.date-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.3rem;
    height: 4.3rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
} 

.blog-ctn {
    padding-left: 1.40rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.article1 {
    background-image: url(/assets/images/1\ \(2\).jpg);
    background-position: center;
    background-size: cover;
} 

.article2 {
    background-image: url(/assets/images/2\ \(4\).jpg);
    background-position: center;
    background-size: cover;
} 

.article3 {
    background-image: url(/assets/images/3\ \(1\).jpg);
    background-position: center;
    background-size: cover;
} 