/* blog section style and setting */

/* define size of the section and center */
.blog-section {
    width: 92%;
    margin: 2rem auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* define size of container for the blog and position of it's content */
.blog-container {
    padding-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


/* size and settings for each blog card and position of it's content */
.blog {
    width: 100%;
    height: 21.88rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.5rem;
    color: #000;
    position: relative;
}

.headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.88rem;
    line-height: 1.56rem;
}


.blog-msg {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 0.99rem;
    line-height: 1.50rem;
}

.blog-ctn .button {
    margin: 0.80rem 0 1.1rem 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.06rem;
    border: none;
    background: none;
    text-decoration: underline;
    padding-bottom: 0.2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.line1 {
    display: block;
    float: right;
    padding-top: 0.9rem;
    padding-left: 0.5rem;
}

.date-number {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.84rem;
}

.date-month {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 0.90rem;
    line-height: 0.93rem;
    text-transform: uppercase;
}

.date-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.98rem;
    height: 4.98rem;
    background: rgba(255, 255, 255, 0.83);
    position: absolute;
    left: 1.40rem;
    top: 1.40rem;
}

.date-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4.3rem;
    height: 4.3rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
} 

.blog-ctn {
    padding-left: 1.40rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

/* set background image, position and size for each article */
.article1 {
    background-image: url(/assets/images/1\ \(2\).jpg);
    background-position: center;
    background-size: cover;
} 

.article2 {
    background-image: url(/assets/images/2\ \(4\).jpg);
    background-position: center;
    background-size: cover;
} 

.article3 {
    background-image: url(/assets/images/3\ \(1\).jpg);
    background-position: center;
    background-size: cover;
} 

/* tablet settings */
@media (min-width:601px) and (max-width:899px) {
    .blog-container {
        padding-top: 2rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    .blog {
        width: 48%;
        height: 20.63rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: #000;
        position: relative;
    }
}

/* desktop settings */
@media (min-width:900px) {
    .blog-container {
        padding-top: 2rem;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
    }

    .blog {
        width: 32%;
        height: 21.88rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: #000;
        position: relative;
    }
}

/* footer section */

.footer {
    width: 100%;
    height: auto;
    /* height: 18.25rem; */
    /* padding-bottom: 1rem; */
    margin: 0 auto;
    background-color: #efefef;
}

.footer-ctn {
    width: 92%;
    height: auto;
    margin: 1rem auto;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1.5rem;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding-bottom: 0.8rem;
}

.footer-left a {
    padding-bottom: 1rem;
}

.left-item, .footer-right {
    display: flex;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.footer-right {
    max-width: 22.88rem;   
}

.btn-container {
    display: flex;    
}

input[type=text] {
    width: 17.94rem;
    height: 2.5rem;
    margin: 0;
    box-sizing: border-box;
    background: #F9F9F9;
    border: 0.4px solid rgba(0, 0, 0, 0.38);
}

.footer-right button {
    width: 3.06rem;
    height: 2.5rem;
    margin-left: -4px;
    background: #D9D9D9;
    border: none;
}

input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.88rem;
    line-height: 1.31;
    color: #7A7A7A;
    padding-left: 2.06rem;
}

hr {
    background: #0000005C;
}

.footer.copyright {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.copyright p {
    padding-top: 0.3rem;
}