/* left and right containers for message area */
.left {
    background-image: url(/assets/images/1.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}
.left h2, .right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.56rem;
    margin-bottom: 1rem;
}
.left .button, .right .button {
    margin: 0.80rem 0 1.1rem 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.06rem;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}


.right {
    background-image: url(/assets/images/2\ \(2\).webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* line after the "shop now" button */
.line {
    display: block;
    float: right;
    padding-top: 1rem;
    padding-left: 0.5rem;
}


/* message section mobile specific settings */
@media (max-width:600px) {
    .message {
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
        gap: 1em;
    }

    .msg {
        width: 100%;
        height: 100%;
    }

    /* word wrap to move "collections" to new line */
    .break::before {
        content: "\a";
        white-space: pre;
    }
}


 /* message section settings for tablets */
 @media (min-width:601px) and (max-width:899px) {
    .message {
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }
    .msg {
        width: 49%;
        height: 100%;
    } 

    /* word wrap to move "collections" to new line */
    .break::before {
        content: "\a";
        white-space: pre;
    }
}


/* desktop styling */
@media (min-width:900px) {
    .message {
        /* border: 1px solid red; */
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }

    .msg {
        /* border: 1px solid green; */
        width: 49%;
        height: 100%;
    }
}

/* products section styling */
.products {
    width: 92%;
    margin: 2rem auto;
    padding-top: 18.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro-container {
    padding-top: 2.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product {
    width: 100%;
    height: 21.88rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.products h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.88rem;
    line-height: 1.56rem;
}


.product h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25rem;
}

.product p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25rem;
}


.pro1 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/13.webp);
    background-position: center;
    background-size: cover;
}

.pro2 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/2\ \(3\).webp);
    background-position: center;
    background-size: cover;
}

.pro3 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/3.webp);
    background-position: center;
    background-size: cover;
}

.pro4 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/4.webp);
    background-position: center;
    background-size: cover;
}

.pro5 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/5.webp);
    background-position: center;
    background-size: cover;
}

.pro6 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/6.webp);
    background-position: center;
    background-size: cover;
}

.pro7 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/7.webp);
    background-position: center;
    background-size: cover;
}

.pro8 {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/assets/images/8.webp);
    background-position: center;
    background-size: cover;
}

@media (min-width:601px) and (max-width:899px) {
    .products {
        width: 92%;
        margin: 2rem auto;
        padding-top: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .pro-container {
        padding-top: 2.9rem;
        width: 100%;
        height: auto;
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .product {
        width: 30%;
        height: 13.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: #FFFFFF;
    }

    /* .product h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
    } */

    /* word wrap to move "collections" to new line */
    .break::before {
        content: "\a";
        white-space: pre;
    }
}

/* desktop styling */
@media (min-width:900px) {
    .products {
        width: 93%;
        margin: 2rem auto;
        padding-top: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .pro-container {
        padding-top: 2.9rem;
        width: 100%;
        height: auto;
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .product {
        width: 23.5%;
        height: 17.50rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        color: #FFFFFF;
    }

    /* .product h2 p {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 0.6rem;
        line-height: 1.25rem;
        padding: 1.5rem;
    } */

    /* word wrap to move "collections" to new line */
    .break1::before {
        content: "\a";
        white-space: pre;
    }
}