/* left and right containers for message area */
.left {
    background-image: url(../images/1.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}
.left h2, .right h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.56rem;
    margin-bottom: 1rem;
}
.left .button, .right .button {
    margin: 0.80rem 0 1.1rem 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.06rem;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}


.right {
    background-image: url(../images/2\ \(2\).webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
}

/* line after the "shop now" button */
.line {
    display: block;
    float: right;
    padding-top: 1rem;
    padding-left: 0.5rem;
}


/* message section mobile specific settings */
@media (max-width:600px) {
    .message {
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        flex-wrap: wrap;
        gap: 1em;
    }

    .msg {
        width: 100%;
        height: 100%;
    }

    /* word wrap to move "collections" to new line */
    .break::before {
        content: "\a";
        white-space: pre;
    }
}


 /* message section settings for tablets */
 @media (min-width:601px) and (max-width:899px) {
    .message {
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }
    .msg {
        width: 49%;
        height: 100%;
    } 

    /* word wrap to move "collections" to new line */
    .break::before {
        content: "\a";
        white-space: pre;
    }
}


/* desktop styling */
@media (min-width:900px) {
    .message {
        /* border: 1px solid red; */
        margin: 3rem auto;
        width: 92%;
        height: 18.69rem;
        display: flex;
        flex: 0 1 auto;
        justify-content: space-between;
    }

    .msg {
        /* border: 1px solid green; */
        width: 49%;
        height: 100%;
    }
}
/* end of message section */


/*start of products section styling */
.products {
    width: 92%;
    margin: 2rem auto;
    padding-top: 18.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pro-container {
    padding-top: 2.5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product {
    width: 100%;
    height: 25.88rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* text-align: center;
    color: #FFFFFF; */
}

.products h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.88rem;
    line-height: 1.56rem;
}


.product h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25rem;
}

.product p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.25rem;
}

.pro-img {
    width: 100%;
    height: 19.88rem;
}

.pro-img img{
    width: 100%;
    height: 100%;
}

.pro-desc {
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #000;
}


@media (min-width:601px) and (max-width:899px) {
    .products {
        width: 92%;
        margin: 2rem auto;
        padding-top: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .pro-container {
        padding-top: 2.9rem;
        width: 100%;
        height: auto;
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .product {
        width: 30%;
        height: 13.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        /* color: #FFFFFF; */
    }

    .pro-img {
        width: 100%;
        height: 11.75rem;
    }
    
    .pro-img img{
        width: 100%;
        height: 100%;
    }

    .pro-desc {
        width: 100%;
        height: fit-content;
        text-align: center;
        color: #000;
    }

    /* word wrap to move "collections" to new line */
    /* .break::before {
        content: "\a";
        white-space: pre;
    } */
}

/* desktop styling */
@media (min-width:900px) {
    .products {
        width: 93%;
        margin: 2rem auto;
        padding-top: 0.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .pro-container {
        padding-top: 2.9rem;
        width: 100%;
        height: auto;
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
    
    .product {
        width: 23.5%;
        height: 17.50rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        /* color: #FFFFFF; */
    }

    .pro-img {
        width: 100%;
        height: 16.50rem;
    }
    
    .pro-img img{
        width: 100%;
        height: 100%;
    }

    .pro-desc {
        width: 100%;
        height: fit-content;
        text-align: center;
        line-height: 0.5rem;
        color: #000;
    }

    /* word wrap to move "collections" to new line */
    /* .break1::before {
        content: "\a";
        white-space: pre;
    } */
}