    /* Universal settings */
    body {
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        box-sizing: border-box;
    }
    /* mobile styling */
    .hero {  
        width: 100%;
        height: 100vh;
        background-image: url(/assets/images/2.webp);
        background-size: cover;
        background-position: center;
    }
    /* dark overlay on background image */
    .overlay {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.60);
    }
    /* container to hold all hero items */
    .hero-container {
        width: 92%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        width: 100%;
        height: 1.75rem;
        /*border: 1px solid red; (used to set header in place)*/
        position: relative;
        top: 2.13rem;
        display: flex;
        justify-content: space-between;
    }
    /* used to set the header items in place */
    /*.h-child {
        border: 1px solid yellow;
    }*/
    
    .logo {
        width: 7.06rem;
        height: 1.69rem;
    }

    .header-icons {
        width: 6.31rem;
        height: 1.69rem;
    }
    
    .header-icons a:not(:last-child) {
        margin-right: 0.3rem;
    }
    
    /* nav to appear on desktop/laptop but not visible on mobile */
    .nav-menu {
        width: auto;
        height: 1.69rem;
        display: flex;
        align-items: center;
        display: none;
    }

    .nav-menu ul {
        padding-right: 2.2rem;
        list-style: none;
        font-family: 'Poppins', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        display: flex;
        gap: 1.7em;
    }

    .nav-menu li {
        text-align: center;
    }

    .nav-menu a {
        text-decoration: none;
        color: #fff;
    }
    /* hero message and call to action */
    .hero-content {
        width: 95%;
        height: 10.69rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.80);
    }
    .hero-content h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.88rem;
        font-weight: 300;
        line-height: 2.06rem;
        margin-bottom: 0;
    }
    .hero-content button {
        margin: 0.80rem 0 1.1rem 0;
        font-family: 'Dosis', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2.06rem;
        border: none;
        outline: none;
        background: none;
        text-decoration: underline;
    }

    /* desktop styling */
    @media (min-width:900px) {
        .nav-menu {
            width: auto;
            height: 1.69rem;
            display: flex;
            align-items: center;
        }

        .nav-menu ul {
            padding-right: 2.2rem;
            list-style: none;
            font-family: 'Poppins', sans-serif;
            font-size: 1.25rem;
            font-weight: 500;
            display: flex;
            gap: 1.7em;
        }

        .nav-menu li {
            text-align: center;
        }

        .nav-menu a {
            text-decoration: none;
            color: #fff;
        }

        .hero-content {
            width: 32.56rem;
            height: 12.75rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.80);
        }

        .hero-content h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 1.88rem;
            font-weight: 300;
        }

        .hero-content button {
            font-family: 'Dosis', sans-serif;
            font-size: 1rem;
            font-weight: 500;
            border: none;
            outline: none;
            background: none;
            text-decoration: underline;
        }
    }